/*icon*/
.icon_radio{
  width 53px
  height 44px
  background url(url_path"/icon-radio.png") no-repeat
  display inline-block
}
.icon_book{
  width 53px
  height 44px
  background url(url_path"/icon-book.png") no-repeat
  display inline-block
}
.icon_favorites{
  width 53px
  height 44px
  background url(url_path"/icon-favorites.png") no-repeat
  display inline-block
}

.icon_video{
  width 53px
  height 44px
  background url(url_path"/icon-video.png") no-repeat
  display inline-block
}

.icon-slide{
  height 77px
  width 77px
  background url(url_path"/icon-slide-arrow.png") no-repeat

  &--prev{
    background-position: 0 -77px;
    &:hover{
      background-position: 1px 2px;;
    }
  }
  &--next{
    background-position: -85px -77px 
    &:hover{
      background-position: -86px 2px;
    }
  }
}
.icon-fb{
  background url("../../img/icon-social.png") no-repeat
  height: 35px
  width: 35px
  display: inline-block
}
.icon-tw{
  background url("../../img/icon-social.png") no-repeat
  height: 35px
  width: 35px
  display: inline-block
  background-position: -53px 0;
}
.icon-info{
  background url(../../img/icon-info.png) no-repeat
  height: 27px
  width: 27px
  &_subs{
    position: absolute;
  }
}