/*template*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font: basefont Regular;
  background-color: #1b2843;
  background-image: url('img/bg_body.png');
  color: textColor;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word;
  select-color: darken(bgColor, 10);
}

.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
}

.main {
  margin-bottom: footerHeight * -1;
  /*margin-bottom: footerHeight * -1;*/
}

.foot {
  height: footerHeight
}

.container {
  // min-width: 940px;
  // max-width: 1440px;
  max-width: 980px;

  clear: fix;
  margin-left: auto;
  margin-right: auto;

  &--bg_black{
    background: rgba(0,0,0,.14)
  }
}


// робимо елемент инлайновим вирівнюємо його по сентру
.h_block-center{
  font-size: 0 !important;
  text-align: center;
  display: inline;
  
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle
    height 100%
  }
  &__nth{
    display: inline-block
    vertical-align: middle
    font-size: initial
    text-align: left
    max-height 100%
  }
}

// clear
.clear {
  display: block;
  clear: both;
  font-size: 0;
  overflow: hidden;
  height: 0
}