{% extends '../page/main.html' %}

{% block container %}
<div class="slide">
  <div class="slide__text">
    <div class="slide_text__title">
      <img src="img_slide_logo.png" alt="" class="slide_title__logo">
    </div>
    <p>Strapline Strapline Strapline</p>
    <span>Body text body text body text body text body text body text body text body text body text body text body text body text body text body text body text body text body text body text body text body</span>

    <a href="" class="btn btn_white"><span>Subscribe for only .50</span></a>
    <div class="slide_btn__helper">
      Already subscribed? <a href="" class="link"><u>Login</u></a>
    </div>
  </div>
  <div class="slide__iphone">
    <div class="svg_wrap">
      <svg class="svg_wrap__phone1"></svg>
    </div>
    <img src="img_slide_phone1.png" alt="" class="slide_iphone__img1">
  </div>
</div> 
{% endblock %}